Source: nemo-tortoisehg
Section: vcs
Priority: optional
Maintainer: Sven Witterstein <sven.witterstein@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.0

Package: nemo-tortoishg
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
         python-nemo,
	 tortoisehg
Description: Nemo Extension
 A Nemo extension to display mercurial context menu and icon overlay
