Source: nemo-pastebin
Section: utils
Priority: optional
Maintainer: Clement Lefebvre <root@linuxmint.com>
Build-Depends: debhelper (>= 9),
               python-all (>= 3.3) | python3-all (>= 3.3),
               python3-distutils-extra,
               dh-python
Standards-Version: 3.9.6
Homepage: https://github.com/linuxmint/nemo-extensions
X-Python-Version: >= 3.3
X-Python3-Version: >= 3.3

Package: nemo-pastebin
Architecture: all
Section: utils
Priority: optional
Depends: ${python3:Depends},
         ${misc:Depends},
         nemo,
         python-nemo (>=3.0.0),
         python3-xdg,
         pastebinit,
         gir1.2-gtk-3.0,
         gir1.2-glib-2.0,
         gir1.2-notify-0.7
Recommends: python3-pyinotify
Description: Nemo extension for pasting files to a pastebin service
 nemo-pastebin is a Nemo extension written in Python which
 allows users to upload files to a pastebin service via context menu.
 .
 The process has visual feedback through notifications. On success,
 the pastebin URL is copied to the clipboard and opened in the browser.
 .
 The extension's behaviour can be adjusted with the easy-to-use
 configuration tool nemo-pastebin-preferences.
