*.buildinfo
*.changes
*.ddeb
*.deb
*.debhelper.log
*.dsc
*.egg-info/
*.gz
*.substvars
*.xz
.debhelper/
.pybuild/
_build/
debhelper-build-stamp
files
nemo-audio-tab/debian/nemo-audio-tab/
nemo-compare/debian/nemo-compare/
nemo-dropbox/debian/nemo-dropbox/
nemo-emblems/debian/nemo-emblems/
nemo-fileroller/debian/nemo-fileroller/
nemo-image-converter/debian/nemo-image-converter/
nemo-media-columns/debian/nemo-media-columns/
nemo-pastebin/debian/nemo-pastebin/
nemo-preview/debian/nemo-preview/
nemo-python/debian/python-nemo-dbg/
nemo-python/debian/python-nemo/
nemo-repairer/debian/nemo-filename-repairer/
nemo-seahorse/debian/nemo-seahorse/
nemo-share/debian/nemo-share/
nemo-terminal/debian/nemo-terminal/
tmp/
