Source: nemo-metadata-tab
Section: utils
Priority: optional
Maintainer: Eduard Dopler <kontakt@eduard-dopler.de>
Build-Depends: debhelper (>= 9),
               python-all (>= 3.1) | python3-all (>= 3.1),
               python3-distutils-extra,
               dh-python
Standards-Version: 3.9.6
Homepage: https://github.com/EduardDopler/nemo-extensions
X-Python-Version: >= 3.1
X-Python3-Version: >= 3.1

Package: nemo-metadata-tab
Architecture: all
Section: utils
Priority: optional
Depends: ${python3:Depends},
         ${misc:Depends},
         nemo,
         python-nemo,
         python3-taglib,
         python3-mediainfodll,
         python3-pil,
         poppler-utils,
         gir1.2-gtk-3.0,
         gir1.2-glib-2.0,
         gir1.2-pango-1.0,
         gir1.2-gdkpixbuf-2.0
Description: Nemo extension, adding a property page for media files.
 Nemo Metadata Tab adds a new property page for media files and displays
 various metadata. Supported file types are: audio (incl. cover art),
 video images and PDF.
