Source: nemo-dropbox
Section: non-free/gnome
Priority: optional
Maintainer: Clement Lefebvre <root@linuxmint.com>
Build-Depends: debhelper-compat (= 11),
               dh-python,
               libnemo-extension-dev (>= 1.0.0),
               libglib2.0-dev (>= 2.14.0),
               python3-all,
               python3-docutils,
               python3-gi
Standards-Version: 3.9.6
XS-Autobuild: yes
Homepage: http://www.dropbox.com/

Package: nemo-dropbox
Architecture: i386 amd64
Depends: nemo,
         policykit-1,
         procps,
         python3-gi,
         ${shlibs:Depends},
         ${misc:Depends}
Description: Dropbox integration for Nemo
 Nemo Dropbox is an extension that integrates the Dropbox web service with
 your Cinnamon Desktop.
 
