Source: nemo-dropbox
Section: non-free/gnome
Priority: optional
Maintainer: Clement Lefebvre <root@linuxmint.com>
Build-Depends: debhelper (>= 9),
               autotools-dev,
               gnome-pkg-tools,
               libnemo-extension-dev (>= 2.6.0),
               libglib2.0-dev (>= 2.14.0),
               python3-dev (>= 3.3),
               python3-docutils,
               dh-autoreconf,
Standards-Version: 3.9.6
XS-Autobuild: yes
Homepage: http://www.dropbox.com/

Package: nemo-dropbox
Architecture: i386 amd64
Depends: nemo,
         policykit-1,
         procps,
         python3-gi,
         python3-gpgme,
         ${shlibs:Depends},
         ${misc:Depends},
         dropbox
Description: Dropbox integration for Nemo
 Nemo Dropbox is an extension that integrates the Dropbox web service with
 your Cinnamon Desktop.
 
