Source: nemo-metadata-columns
Section: utils
Priority: optional
Maintainer: Eduard Dopler <kontakt@eduard-dopler.de>
Build-Depends: debhelper (>= 9),
               python-all (>= 3.0) | python3-all (>= 3.0),
               python3-distutils-extra,
               dh-python
Standards-Version: 3.9.6
Homepage: https://github.com/EduardDopler/nemo-extensions
XS-Python-Version: >= 3.0

Package: nemo-metadata-columns
Architecture: all
Section: utils
Priority: optional
Depends: ${python3:Depends},
         ${misc:Depends},
         nemo,
         python-nemo,
         python3-mediainfodll,
         python3-pil,
         poppler-utils,
         gir1.2-glib-2.0
Description: Nemo extension, adding columns for media metadata.
 This extension advances Nemo columns: A great set of media metadata
 can be shown and sorted in new columns. Supported file types are:
 audio, video, images and PDF.
