Source: nemo-media-columns
Section: gnome
Priority: extra
Maintainer: Clement Lefebvre <root@linuxmint.com>
Build-Depends: debhelper (>= 9),
               python-all,
               dh-python
Standards-Version: 3.9.6

Package: nemo-media-columns
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
         python-nemo,
         python-mutagen,
         python-pyexiv2,
         python-kaa-metadata,
         libnemo-extension1a,
         python-pypdf | python-pypdf2,
         python-pil
Description: Nemo Extension
 A Nemo extension to display music/EXIF and PDF metadata info
 in the Nemo List View.
