#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --buildsystem=meson

override_dh_auto_configure:
	dh_auto_configure -- -Dbuild-nemo=true \
		-Dnettle=false -Dnss=false -Dmbedtls=false

override_dh_installchangelogs:
	dh_installchangelogs NEWS

# Don't generate a shlibs file for the plugin
override_dh_makeshlibs:
