Source: nemo-compare
Section: utils
Priority: optional
Maintainer: Clement Lefebvre <root@linuxmint.com>
Build-Depends: debhelper (>= 9),
               python-all (>= 3.1) | python3-all (>= 3.1),
               python3-distutils-extra,
               dh-python
Standards-Version: 3.9.6
X-Python-Version: >= 3.1
X-Python3-Version: >= 3.1

Package: nemo-compare
Architecture: all
Section: utils
Priority: optional
Depends: ${python3:Depends},
         ${misc:Depends},
         nemo,
         python-nemo,
         python3-xdg,
         gir1.2-gtk-3.0,
         gir1.2-glib-2.0,
         meld | kdiff3 | kdiff3-qt | diffuse | kompare | fldiff | tkdiff | bcompare
Description: Context menu comparison extension for Nemo file manager
 Simple context menu file comparison extension for Nemo,
 inspired by the discontinued 'diff-ext' extension. By default it uses
 'meld' to do the comparison and provides "Compare", "Compare to ~/foo/bar"
 and "Compare Later" in Nemo context menu. Using the configurator tool
 you can choose your favourite compare tool for one-on-one, three-way and
 multi-compare situations.
