Source: nemo-wipe
Section: utils
Priority: optional
Maintainer: Clement Lefebvre <root@linuxmint.com>
Standards-Version: 3.9.2
Build-Depends:
 debhelper (>= 8.0.0),
 dh-autoreconf,
 gnome-doc-utils,
 hardening-wrapper,
 intltool,
 libgconf2-dev,
 libgsecuredelete-dev (>= 0.1-1~),
 libgtk-3-dev,
 libnemo-extension-dev (>= 1.0.0),
 rarian-compat
Homepage: https://github.com/linuxmint/nemo-extensions

Package: nemo-wipe
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libgconf2-4,
 libgsecuredelete0,
 libgtk-3-0,
 libnemo-extension1a
Description: Secure deletion extension for Nemo
 Nemo Wipe is a Nemo extension that adds "Securely erase" and
 "Securely fill empty space" items to the right-click menu.
 .
 The progress and results of the operations are shown in a progress
 dialog.
