
[Desktop Entry]
Name=Nemo Pastebin Configurator
Name[hr]=Nemo pastebin podešavanje
Type=Application
GenericName=Nemo Pastebin configuration panel
GenericName[hr]=Nemo pastebin dijalog podešavanja
Icon=nemo-pastebin
Categories=Settings;
X-Ubuntu-Gettext-Domain=nemo-pastebin
Exec=nemo-pastebin-configurator
