Source: nemo-seahorse
Section: gnome
Priority: optional
Maintainer: Clement Lefebvre <root@linuxmint.com>
Build-Depends: debhelper-compat (= 12),
               meson
Standards-Version: 3.9.6

Package: nemo-seahorse
Architecture: all
Depends: ${misc:Depends},
         python3,
         python3-gpg,
         python3-gi,
         gir1.2-gtk-3.0,
         seahorse
Description: seahorse plugins and utilities for encryption
 Nemo-Seahorse is an extension for Nemo which allows encryption
 and decryption of OpenPGP files using GnuPG - the GNU Privacy
 Guard program.
