Source: nemo-wallpaper
Section: gnome
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Cyrille Grosdemange <ze.cyrilou@gmail.com>
Build-Depends: debhelper (>= 5), libgtk2.0-dev (>= 2.2), libnemo-extension-dev, libgconf2-dev
Standards-Version: 3.8.4

Package: nemo-wallpaper
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Nemo extension. Add a "set as wallpaper" entry in context menu
 nemo-wallpaper is a Nemo extension that adds the ability to set your
 desktop wallpaper from the context menu.
