Source: nemo-python
Section: python
Priority: optional
Maintainer: Clement Lefebvre <root@linuxmint.com>
Build-Depends:
 debhelper (>= 10),
 gtk-doc-tools,
 meson,
 libnemo-extension-dev (>= 3.6),
 python3-dev,
 python-gi-dev,
Standards-Version: 3.9.6

Package: nemo-python
Architecture: any
Depends: gir1.2-nemo-3.0 (>= 3.6), ${misc:Depends}, ${shlibs:Depends}
Replaces: python-nemo (<< 3.9.0)
Breaks: python-nemo (<< 3.9.0)
Description: Python binding for Nemo components
 Python binding for Nemo, to allow Nemo property page and menu item
 extensions to be written in Python.

Package: nemo-python-dbg
Section: debug
Architecture: any
Priority: extra
Depends: python-nemo (= ${binary:Version}), ${misc:Depends}
Description: Debug packages for python-nemo
 This development package contains unstripped binaries compiled with
 debugging symbols needed by gdb.

Package: python-nemo
Depends: nemo-python, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.