Source: nemo-python
Section: python
Priority: optional
Maintainer: Clement Lefebvre <root@linuxmint.com>
Build-Depends:
 debhelper (>= 10),
 gtk-doc-tools,
 libnemo-extension-dev (>= 3.6),
 python-dev,
 python-gi-dev,
Standards-Version: 3.9.6

Package: nemo-python
Architecture: any
Depends: gir1.2-nemo-3.0 (>= 3.6), ${misc:Depends}, ${shlibs:Depends}
Conflicts: python-nemo
Provides: python-nemo
Replaces: python-nemo
Description: Python bindings for nemo components
 Python bindings for Nemo, to allow creation of Nemo extensions in Python.
 This allows creating property page and menu item extensions.
